<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- # Master CSS -->
    <link rel="stylesheet"
          href="{% static 'css/master.css' %}">

    <!-- # Styles CSS -->
    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">

    <!-- # Menu CSS -->
    <link rel="stylesheet"
          href="{% static 'css/menu.css' %}">

    <!-- # Project JS Script -->
    <script type="text/javascript" src="{% static 'js/master.js' %}"></script>

    <script>
    function goBack() {
    window.history.back();
    }
    </script>
  </head>
  <body>
  {% if user.is_authenticated %}
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="{% url 'info:info' %}">Info</a></li>
              <li><a href="{% url "accounts:logout" %}">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% block precontent %}{% endblock %}
    <header class="showcase">
      <div class="container showcase-inner">
        {% block content %}{% endblock %}

      </div>
    </header>
    {% block postcontent %}{% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
