:root {
  --primary-color: rgba(222, 205, 195, 0.75);
  --overlay-color: rgba(234, 84, 85, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.4;
}

.container-main {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  overflow-x: hidden;
}

.showcase {
  background-color: var(--primary-color);
  color: #030303;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../images/pexels-pixabay-159211.jpg') no-repeat
  center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.form-background {
  background-color: #2d4059;
  color: #e5e5e5;
  padding: 2rem 4rem;
  margin: 1rem;
}

.form-background-inner {
  background-color: #e5e5e5;
  position: relative;
  padding:inherit;
  color: #030303;
}

.form-background-inner p{
  font-size: 10px;
}

.btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #030303;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}

.btn:hover {
  opacity: 0.7;
  background-color: #2d4059;
}

.main_content {
  background: #2d4059;
  flex-flow: row;
  position: absolute;
  height: 100%;
  width: 90%;
  left: 170px;
  overflow-x: hidden;
  text-align: left;
}

.main_content-inner {
  background: #e5e5e5;
  position: absolute;
  height: 100vh;
  width: 85%;
  left: 80px;
  align-items: flex-start;
  align-content: flex-start;
  flex: auto;
  flex-direction: column;
}

#main_content_calendar{
  background: #e5e5e5;
  position: absolute;
  height: 164vh;
  width: 85%;
  left: 80px;
  align-items: flex-start;
  align-content: flex-start;
  flex: auto;
  flex-direction: column;
}
.grid-container {
  display: grid;
  height: 92%;
  padding: 0.5rem .5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px;
  grid-auto-columns: 75px;
  justify-content: space-between;
  align-content: space-between;
}

.grid-item {
  display: grid;
  height: 185px;
  padding: 0.5rem 1rem;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}

.dotme{
  border: 5px dashed #b9b3b3;
  border-radius: 25%;
}
.add-sign {
   background: #b9b3b3;
   border-radius: 25%;
   height: 100px;
   position: relative;
   width: 20px;
 }

.add-sign:after {
    background: #b9b3b3;
    content: "";
    border-radius: 25%;
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
  }

.small-link a {
  font-size: 9px;
}

.contact-card {
  width: 245px;
  background: #2d4059;
  padding: 1em 1em;
  margin: 0;
}

.contact-card-inner {
  width: 100%;
  background-color: #e5e5e5;
  position: relative;
  padding: 1rem 2rem;
  padding:inherit;
  color: #030303;
}

.site-title {
  text-align: center;
}

.image-container {
  max-width: 100%;
  height: auto;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 12px;
  display:grid;
  text-align: left;
  padding-right:5px;
  align-content: start;
}

.cal-ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right2 {
  font-size: 11px;
  float: right;
  font-weight: bolder;
}

.left2 {
  padding-left: 101px;
  float: left;
}

.right3 {
  font-size: 10px;
  float: right;
  font-weight: bold;
}

.left3 {
  font-size: 10px;
  float: left;
  font-weight: bold;
}


.form-me {
  margin: auto;
  font-size: 13px;
}

.form-me input, .form-me select, .form-me textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}


#main_calendar {
  background: #2d4059;
  flex-flow: row;
  position: absolute;
  height: 100%;
  width: 90%;
  left: 170px;
  overflow-x: hidden;
  text-align: left;
}

.btn-center a{
  font-size: 12px;
  text-align: center;
  display: grid;
  width:100px;
}

.cal_btn {
  display:flex;
  justify-content: space-between
}

.cal-event {
  background-color:#a5d2a5;
  border-radius:15%;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.form-header{
  align-content: flex-start;
}
