{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    {% include 'info/_info_nav.html' %}
    <div id="main" class="form-background">
      <div class="form-background-inner">
        <div class="form-header">
          <div class="circle">
            <div class="arrow left-arrow" onclick="goBack()"></div>
          </div>
          <h2>Emergency Contact</h2>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Save">
        </form>
      </div>
    </div>
  {% else %}
    <script>
      window.location.replace("/accounts/login/")
    </script>
  {% endif %}
{% endblock %}
