{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    {% include 'info/_info_nav.html' %}
    <div id="main" class="main_content">
      <div class="main_content-inner">
        <br>
        <div class="site-title">
          <h3>{{user.first_name}}'s Doctors' Contact Information</h3>
        </div>
        <div class="grid-container">
          <div class="grid-item dotme">
            <span><a href="{% url 'info:create_doc' %}"><div class="add-sign"></div></a></span>
          </div>
            {% for contact in object_list %}
              {% if user.id == contact.user.id %}
                <div class="grid-item">
                  <div class="contact-card">
                    <div class="contact-card-inner">
                      <h4>Name: <span><h3>Dr. {{contact.first_name}} {{contact.last_name}}</h3></span></h4>
                      <span class="small-link"><a href="{% url 'info:detail_doc' pk=contact.pk %}">detail </a></span>
                      <span class="small-link"><a href="{% url 'info:delete_doc' pk=contact.pk %}"> delete</a></span>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <script>
      window.location.replace("/accounts/login/")
    </script>
  {% endif %}
{% endblock %}
