{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    {% include 'info/_info_nav.html' %}
    <div id="main" class="main_content">
      <div class="main_content-inner">
        <br>
        <span class="back-sign"><button onclick="goBack()">Go Back</button></span>
        <div class="site-title">
          <h3>Contact Information:</h3>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" name="" value="Save">
        </form>
      </div>
    </div>
  {% else %}
    <script>
      window.location.replace("/accounts/login/")
    </script>
  {% endif %}
{% endblock %}
