{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    <div id="mySidenav" class="sidenav">
      <h2>Info</h2>
      <a href="#">Doctors</a>
      <a href="#">Medications</a>
      <a href="#">Medical Docs</a>
    </div>
    <div id="main" class="main_content">
      <div class="main_content-inner">
        <br>
        <h3>{{user.first_name}}'s Emergency Contacts</h3>
        <span class="add-sign"><a href="{% url 'info:create_EMC' %}">Add</a></span>

        {% include "info/EMC_list.html" %}
      </div>
    </div>
  {% else %}
    <script>
      window.location.replace("/accounts/login/")
    </script>
  {% endif %}
{% endblock %}
